body {
  font-size: 18px;
  line-height: 120%; }

body {
  font-size: 18px;
  line-height: 120%; }

.header {
  background: #FFF; }

.hamburger {
  position: absolute;
  right: 8px;
  top: 8px; }

.inner-header .inner-header--logo {
  padding: 1rem; }
  .inner-header .inner-header--logo .header-font {
    font-size: 1.5em;
    font-family: "Great Vibes", cursive;
    margin: 0;
    font-weight: 100; }
    .inner-header .inner-header--logo .header-font a {
      text-decoration: none;
      color: #231F20; }
    .inner-header .inner-header--logo .header-font.site-header {
      margin-bottom: 12px; }
    .inner-header .inner-header--logo .header-font.site-subheader {
      color: #757575;
      font-size: 1em;
      letter-spacing: 0.05em;
      margin-bottom: -8px; }
.inner-header .hamburger .hamburger-inner {
  background-color: #231F20; }
  .inner-header .hamburger .hamburger-inner:after, .inner-header .hamburger .hamburger-inner:before {
    background-color: #231F20; }

.nav {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in; }
  .nav.show-menu {
    max-height: 100vh; }
  .nav li {
    position: relative;
    border-top: 1px solid rgba(117, 117, 117, 0.2); }
    .nav li a {
      font-size: .9em;
      color: #231F20; }
      .nav li a:visited, .nav li a:hover, .nav li a:focus
      .nav li a:visited:hover, .nav li a:visited:focus, .nav li a:link, .nav li a:visited:link {
        color: #757575; }
      .nav li a:hover, .nav li a:visited:hover {
        background: #424242;
        color: #FFF; }
    .nav li.menu-item-has-children .fa {
      position: absolute;
      z-index: 100;
      cursor: pointer;
      right: 10px;
      top: 12px;
      font-size: 1.5em;
      color: #8e8083; }
    .nav li.menu-item-has-children ul {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .4s ease-in; }
      .nav li.menu-item-has-children ul.show-submenu {
        max-height: 100vh; }
      .nav li.menu-item-has-children ul ul li a {
        padding-left: 40px; }

@media (min-width: 768px) {
  .hamburger {
    display: none; }

  .nav {
    max-height: none;
    overflow: visible;
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */ }
    .nav:before {
      display: none; }
    .nav i {
      display: none; }
    .nav li {
      position: relative; }
      .nav li a:hover {
        text-decoration: none; }
      .nav li.menu-item-has-children ul {
        max-height: none;
        overflow: visible; }
        .nav li.menu-item-has-children ul li {
          float: none; }
        .nav li.menu-item-has-children ul ul li a {
          padding-left: 10px; } }
@media (min-width: 767px) {
  .inner-header .inner-header--logo {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .inner-header .inner-header--logo .header-font.site-header {
      font-size: 4em;
      line-height: 180%;
      margin: auto;
      text-shadow: 2px 2px 2px rgba(35, 31, 32, 0.5); }
    .inner-header .inner-header--logo .header-font.site-subheader {
      font-size: 1.85em;
      line-height: 100%;
      margin: auto;
      letter-spacing: 0;
      margin-top: -20px;
      padding-bottom: .5rem; }

  .inner-header .nav {
    display: flex;
    justify-content: center; }
    .inner-header .nav li a {
      color: #231F20;
      font-size: 1em; } }
#content.homepage {
  margin-top: 0; }
  #content.homepage .home-hero-desktop {
    display: none; }
  #content.homepage img {
    width: 100%;
    height: auto; }
  @media (min-width: 767px) {
    #content.homepage .home-hero-desktop {
      display: block; }
    #content.homepage .home-hero-mobile {
      display: none; } }

.home-hero-mobile {
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh; }

/*# sourceMappingURL=ontrend.css.map */
