@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.js .transition {
  opacity: 0; }

.loaded .transition {
  animation-duration: .25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 18px;
  line-height: 120%;
  font-family: "Playfair Display", serif;
  color: #231F20;
  background: #000; }

a, a:visited {
  color: #231F20; }

a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #ad974f; }

a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

p {
  margin-top: 0;
  line-height: 120%; }

.intro-text p {
  font-size: 1.3em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif; }

#content {
  background: #dbdbdb;
  margin-top: 0;
  position: relative;
  top: 90px; }
  @media all and (min-width: 768px) {
    #content {
      top: 0; } }

#inner-content.wrap {
  margin-top: 0;
  border: none;
  width: 100%; }
  @media all and (min-width: 768px) {
    #inner-content.wrap {
      max-width: 1234px; } }
  #inner-content.wrap .hentry {
    border: 1px solid #dbdbdb;
    margin: 0; }
    #inner-content.wrap .hentry header {
      border: none; }
    #inner-content.wrap .hentry .article-header {
      padding-bottom: 0; }

@media all and (min-width: 768px) {
  #inner-content.wrap .hentry {
    border: none;
    border-radius: 5px;
    margin: 1.5em 0; } }
.entry-content {
  padding: 1.5em 1em 0; }
  @media all and (min-width: 768px) {
    .entry-content {
      padding: 1.5em 1.5em 0; } }
  .entry-content p {
    line-height: 150%; }
  .entry-content li {
    list-style: disc inside none; }
  .entry-content hr {
    border: none;
    box-shadow: none;
    height: 1px;
    background: #dbdbdb; }

.grid-column {
  display: block; }
  .grid-column.mobile-grid {
    display: grid;
    text-align: center; }

.grid-column-three {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 2em; }

.grid-column-two {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }

.grid-column-no-margin {
  margin-bottom: 0; }

@media all and (min-width: 768px) {
  .grid-column {
    display: grid; } }
.contact-page > div {
  padding: 2em; }
.contact-page p {
  margin: 1.5em 0 .25em 0; }

.fluid-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }

.fluid-embed iframe, .fluid-embed object, .fluid-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wpcf7 .wpcf7-form-control-wrap {
  margin-top: .5em; }
.wpcf7 .wpcf7-list-item {
  display: block;
  padding: .25em 0; }
.wpcf7 .wpcf7-submit {
  background: #FFA904;
  background: #046BF8;
  color: #FFF;
  padding: 1em;
  display: inline-block;
  margin: 0 1em 1em;
  border-radius: 50px;
  text-decoration: none;
  display: block;
  max-width: none;
  width: 100%;
  border: none;
  margin: 0; }
  .wpcf7 .wpcf7-submit:visited, .wpcf7 .wpcf7-submit:hover, .wpcf7 .wpcf7-submit:visited:hover {
    color: #FFF; }
  .wpcf7 .wpcf7-submit:hover {
    background: #ea9900;
    background: #0460df; }
  .wpcf7 .wpcf7-submit.button-standard--full {
    width: 100%;
    text-align: center;
    margin: 1em 0 0; }
.wpcf7 input,
.wpcf7 textarea {
  max-width: 100%;
  padding: .5em;
  background: #cae0fe; }
  .wpcf7 input:focus,
  .wpcf7 textarea:focus {
    background: #e3efff; }
.wpcf7 .wpcf7-response-output {
  border-radius: 5px;
  border-color: #231F20;
  text-align: center;
  padding: 1em;
  margin-top: .5em; }

@media (min-width: 768px) {
  .grid {
    display: grid; }
    .grid.grid-columns-two {
      grid-template-columns: 1fr 1fr; }
    .grid.grid-columns-three {
      grid-template-columns: 1fr 1fr 1fr; }
    .grid.grid-gap-one {
      grid-gap: 1em; }
    .grid.grid-gap-two {
      grid-gap: 2em; } }
footer p {
  margin-top: 1em;
  font-family: "Playfair Display", serif; }

.header {
  background: #FFF;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: all .3s ease-in;
  border-bottom: 1px solid #dbdbdb; }
  .header .fixed-nav {
    display: none;
    width: 100%;
    background: #FFF; }
  @media (min-width: 768px) {
    .header {
      position: relative; }
      .header .site-subheader {
        display: block !important; }
      .header .fixed-nav.is-fixed {
        display: block;
        position: fixed;
        top: 0px; } }

.social-container {
  width: 100px;
  height: 30px;
  background: green; }

.hamburger {
  position: absolute;
  right: 8px;
  top: 8px; }

.inner-header .inner-header--logo {
  padding: 1rem; }
  .inner-header .inner-header--logo .header-font {
    font-size: 1.5em;
    font-family: "Great Vibes", cursive;
    margin: 0;
    font-weight: 100; }
    .inner-header .inner-header--logo .header-font a {
      text-decoration: none;
      color: #231F20; }
    .inner-header .inner-header--logo .header-font.site-header {
      margin-bottom: 0px; }
    .inner-header .inner-header--logo .header-font.site-subheader {
      color: #757575;
      font-size: 1em;
      letter-spacing: 0.05em;
      margin-top: 12px;
      margin-bottom: -8px; }
.inner-header .hamburger .hamburger-inner {
  background-color: #231F20; }
  .inner-header .hamburger .hamburger-inner:after, .inner-header .hamburger .hamburger-inner:before {
    background-color: #231F20; }

.nav {
  max-height: 0;
  overflow: hidden; }
  .nav.show-menu {
    max-height: 100vh; }
  .nav li,
  .nav ul.sub-menu li {
    position: relative;
    border-top: 1px solid rgba(117, 117, 117, 0.2); }
    .nav li a,
    .nav ul.sub-menu li a {
      font-size: .9em;
      transition: background-color .4s ease-in;
      padding: .65em;
      color: #231F20;
      text-transform: uppercase; }
      .nav li a:visited, .nav li a:hover, .nav li a:focus
      .nav li a:visited:hover, .nav li a:visited:focus, .nav li a:link, .nav li a:visited:link,
      .nav ul.sub-menu li a:visited,
      .nav ul.sub-menu li a:hover,
      .nav ul.sub-menu li a:focus
      .nav li a:visited:hover,
      .nav ul.sub-menu li a:visited:focus,
      .nav ul.sub-menu li a:link,
      .nav ul.sub-menu li a:visited:link, .nav li a:focus
      .nav ul.sub-menu li a:visited:hover,
      .nav ul.sub-menu li a:focus
      .nav ul.sub-menu li a:visited:hover {
        color: #757575; }
      .nav li a:hover, .nav li a:visited:hover,
      .nav ul.sub-menu li a:hover,
      .nav ul.sub-menu li a:visited:hover {
        background-color: whitesmoke; }
    .nav li.current-menu-item a,
    .nav ul.sub-menu li.current-menu-item a {
      background: whitesmoke; }
    .nav li.menu-item-has-children .fa,
    .nav ul.sub-menu li.menu-item-has-children .fa {
      position: absolute;
      z-index: 100;
      cursor: pointer;
      right: 10px;
      top: 12px;
      font-size: 1.5em;
      color: #8e8083; }
    .nav li.menu-item-has-children ul,
    .nav ul.sub-menu li.menu-item-has-children ul {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .4s ease-in; }
      .nav li.menu-item-has-children ul.show-submenu,
      .nav ul.sub-menu li.menu-item-has-children ul.show-submenu {
        max-height: 100vh; }
      .nav li.menu-item-has-children ul ul li a,
      .nav ul.sub-menu li.menu-item-has-children ul ul li a {
        padding-left: 40px; }
  .nav ul.sub-menu li {
    background: #FFF;
    border: none; }

@media (min-width: 768px) {
  .hamburger {
    display: none; }

  .nav {
    max-height: none;
    overflow: visible; }
    .nav:before {
      display: none; }
    .nav i {
      display: none; }
    .nav li {
      position: relative; }
      .nav li a:hover {
        text-decoration: none; }
      .nav li.menu-item-has-children ul {
        max-height: none;
        overflow: visible; }
        .nav li.menu-item-has-children ul li {
          float: none; }
        .nav li.menu-item-has-children ul ul li a {
          padding-left: 10px; } }
@media (min-width: 768px) {
  .inner-header .inner-header--logo {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .inner-header .inner-header--logo .header-font.site-header {
      font-size: 4em;
      line-height: 180%;
      margin: auto;
      text-shadow: 2px 2px 2px rgba(35, 31, 32, 0.5); }
    .inner-header .inner-header--logo .header-font.site-subheader {
      font-size: 1.85em;
      line-height: 100%;
      margin: auto;
      letter-spacing: 0;
      margin-top: -20px;
      padding-bottom: .5rem; }

  .inner-header .nav {
    display: flex;
    justify-content: center; }
    .inner-header .nav li a {
      color: #231F20;
      font-size: 1em; } }
#content.homepage {
  margin-top: 0; }
  #content.homepage .home-hero {
    position: relative;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%; }
    #content.homepage .home-hero .home-hero-inner {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, black);
      z-index: 10;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
    #content.homepage .home-hero i, #content.homepage .home-hero p {
      color: #FFF;
      font-size: 1.5em; }
    #content.homepage .home-hero i {
      cursor: pointer; }
      @media all and (min-width: 768px) {
        #content.homepage .home-hero i {
          font-size: 3em; } }
    #content.homepage .home-hero p {
      font-family: 'Playfair Display';
      text-align: center; }
      @media all and (min-width: 768px) {
        #content.homepage .home-hero p {
          max-width: 40%;
          font-size: 3em; } }
    #content.homepage .home-hero div {
      width: 100%; }
    #content.homepage .home-hero .typed-strings {
      display: none; }
    #content.homepage .home-hero .typed-para {
      margin: auto; }
    #content.homepage .home-hero .typed-two {
      font-family: "Great Vibes", cursive;
      font-size: 3em;
      margin-top: .8em; }
      @media all and (min-width: 768px) {
        #content.homepage .home-hero .typed-two {
          font-size: 4em; } }
  #content.homepage img {
    width: 100%;
    height: auto; }
  #content.homepage ul {
    margin: 0; }

.homepage {
  position: relative; }

#content.homepage .home-slider,
#content.homepage .home-hero-typed,
#content.homepage .slick-slide,
#content.homepage .home-hero-typed .home-hero-inner {
  height: 50vh; }
  @media (min-width: 767px) {
    #content.homepage .home-slider,
    #content.homepage .home-hero-typed,
    #content.homepage .slick-slide,
    #content.homepage .home-hero-typed .home-hero-inner {
      height: 100vh;
      max-height: 600px; } }

#content.homepage .home-hero-typed {
  position: absolute;
  top: 0; }

.home-slider-new {
  position: relative;
  height: 50vh; }
  @media (min-width: 767px) {
    .home-slider-new {
      height: 100vh;
      max-height: 600px; } }

.home-slider-new .slide {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-position: center center;
  overflow: hidden; }

.image {
  position: absolute;
  background-size: cover;
  top: -1%;
  left: -1%;
  width: 105%;
  height: 105%;
  transition: width 1s, height 1s, top 1s, left 1s;
  transition: all 7s ease-out; }
  .slick-active .image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.card {
  border-radius: 4px;
  margin: 0 auto 1em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #FFF;
  overflow: hidden;
  max-width: 450px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.48);
  text-align: center;
  transition: all .2s ease-out; }
  .card:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.48); }
  .card img {
    margin: 0;
    max-width: 100%; }

.button-standard {
  background: #FFA904;
  background: #046BF8;
  color: #FFF;
  padding: 1em;
  display: inline-block;
  margin: 0 1em 1em;
  border-radius: 50px;
  text-decoration: none; }
  .button-standard:visited, .button-standard:hover, .button-standard:visited:hover {
    color: #FFF; }
  .button-standard:hover {
    background: #ea9900;
    background: #0460df; }
  .button-standard.button-standard--full {
    width: 100%;
    text-align: center;
    margin: 1em 0 0; }

.card-content {
  position: relative;
  z-index: 1;
  padding: 0 1em; }
  .card-content:before {
    content: '';
    width: 200%;
    height: 100px;
    position: absolute;
    display: block;
    background-color: #fff;
    transform: rotate(-8deg);
    top: -60px;
    left: -10%;
    z-index: -1; }
  .card-content .wpcf7 {
    display: none; }
  .card-content p {
    font-weight: 600; }
  .card-content h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    margin: 0 0 .5em 0;
    font-size: 1.5em; }
  .card-content li {
    list-style: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 1em;
    text-align: left; }
    .card-content li:first-child {
      border-top: 1px solid #dbdbdb; }

.testimonials-container {
  text-align: center; }
  .testimonials-container div {
    border-top: 1px solid rgba(117, 117, 117, 0.2);
    padding: 1em;
    margin-bottom: 2em; }
    .testimonials-container div:first-child {
      border: none; }
    .testimonials-container div p {
      max-width: 800px;
      margin: 1em auto 0; }
      .testimonials-container div p:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f10d";
        font-size: 3em;
        position: relative;
        left: -1rem;
        top: -1rem;
        color: #a8a8a8; }
    .testimonials-container div h4 {
      margin-bottom: .25em; }
    .testimonials-container div small {
      text-transform: uppercase; }
  .testimonials-container img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    filter: grayscale(50%);
    margin: 0; }

.package-image {
  position: relative;
  height: 50vh;
  margin: 2em 0 0;
  background-size: cover; }
  @media (min-width: 767px) {
    .package-image {
      height: 100vh;
      max-height: 350px; } }

.packages-single h3 {
  font-size: 2.5em; }
.packages-single .tagline {
  font-weight: 700; }
.packages-single ul li {
  list-style: none;
  margin: 1em 0 1em 1em;
  font-size: 1.2em;
  position: relative;
  left: 1em; }
  .packages-single ul li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 1em;
    position: absolute;
    left: -1.5em;
    top: .1em;
    color: #8AAB0B; }
.packages-single .wpcf7 {
  max-width: 600px;
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid #dbdbdb; }
  .packages-single .wpcf7 input {
    max-width: none; }

.band-grid {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1em; }
  .band-grid img {
    border-radius: 5px;
    max-width: 300px;
    width: 100%; }

@media all and (min-width: 767px) {
  .band-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1em;
    margin-bottom: 2em; }
    .band-grid img {
      border-radius: 5px;
      max-width: none; } }
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0460df;
  color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #0455c6; }

.panel {
  padding: 0 18px;
  margin: 2em 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease; }

.songlist input[type="text"] {
  width: 100%;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  color: #231F20;
  background: #cae0fe; }

.acts-single .single-title {
  margin: .5em 0 1em 0; }
.acts-single #tab-section li {
  list-style: none; }
  .acts-single #tab-section li a {
    font-size: 1.2em;
    font-weight: 700; }

.intro-grid {
  display: grid; }
  .intro-grid img,
  .intro-grid div {
    height: auto;
    width: auto;
    max-width: 100%; }
  .intro-grid img {
    margin-bottom: 1em; }
  .intro-grid p {
    font-size: 1.2em; }
  @media all and (min-width: 767px) {
    .intro-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em; }
      .intro-grid img,
      .intro-grid div {
        margin: auto; }
      .intro-grid p {
        font-size: 1.5em; } }

.act-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }
  .act-list-grid .intro-grid p:nth-child(n+3) {
    display: none; }
  .act-list-grid .intro-grid p {
    font-size: 1em; }

/*# sourceMappingURL=ontrend.css.map */
