.band-grid {
  border-bottom: 1px solid $grey-light;
  margin-bottom: 1em;

  img {
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
  }
}

@media all and (min-width: 767px) {
  .band-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1em;
    margin-bottom: 2em;

    img {
      border-radius: 5px;
      max-width: none;
    }
  }
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0460df;
  color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: darken(#0460df, 5%);
}

.panel {
  padding: 30px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}