.band-grid {
  border-bottom: 1px solid $grey-light;
  margin-bottom: 1em;

  img {
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
  }
}

@media all and (min-width: 767px) {
  .band-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1em;
    margin-bottom: 2em;

    img {
      border-radius: 5px;
      max-width: none;
    }
  }
}