


$white: #FFF;
$primary: #231F20;
$primary-lite: lighten($primary, 20%);
$primary-liter: lighten($primary, 40%);

$secondary: #ad974f;
$secondary-lite: lighten($secondary, 20%);
$secondary-liter: lighten($secondary, 40%);

$grey: #757575;


$font-heading-logo: 'Great Vibes', cursive;




// mobile first header
.header {
  background: $white;
}

// hamburger
.hamburger {
  position: absolute;
  right: 8px;
  top: 8px;
}

// site header
.inner-header {

  .inner-header--logo {
    padding: 1rem;

    .header-font {
      font-size: 1.5em;
      font-family: $font-heading-logo;
      margin: 0;
      font-weight: 100;

      a {
        text-decoration: none;
        color: $primary;
      }

      &.site-header {
        margin-bottom: 12px;        
      }

      &.site-subheader {
        color: $grey;
        font-size: 1em;
        letter-spacing: 0.05em;
        margin-bottom: -8px;
      }
    }
  }

  // hamburger
  .hamburger .hamburger-inner {
    background-color: $primary;

    &:after,
    &:before {
      background-color: $primary;
    }
  }
}

// no height mobile nav for slidedown effect
.nav {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in;

  &.show-menu {
    max-height: 100vh;
  }

  li {
    position: relative;
    border-top: 1px solid rgba($grey, 0.2);

    a {
      font-size: .9em;

      color: $primary;
      text-transform: uppercase;

      &:visited,
      &:hover,
      &:focus
      &:visited:hover,
      &:visited:focus,
      &:link,
      &:visited:link {
        color: $grey;
      }

      &:hover,
      &:visited:hover {
        background: lighten($grey, 50%);
      }
    }

    // current item
    &.current-menu-item a {
      background: lighten($grey, 50%);
    }

    // has sub nav
    &.menu-item-has-children {

      .fa {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        right: 10px;
        top: 12px;
        font-size: 1.5em;
        color: $primary-liter;
      }

      // sub nav
      ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .4s ease-in;

        &.show-submenu {
          max-height: 100vh;
        }

        ul li a {
          padding-left: 40px;
        }
      }
    }
  }
}


@media (min-width:768px) {
  // hamburger
  .hamburger {
    display: none;
  }

  .nav {
    max-height: none;
    overflow: visible;

    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */

    &:before {
      display: none;
    }

    i {
      display: none;
    }

    li {
      position: relative;

      a {
        //font-size: .7em;
      }

      a:hover {
        text-decoration: none;
      }

      &.menu-item-has-children {

        ul {
          max-height: none;
          overflow: visible;

          li {
            float: none;
          }

          ul li a {
            padding-left: 10px;
          }
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {

        > a {
          //color: $white;
        }
      }
    }
  }
}


// responsive
@media (min-width: 767px) {
  .inner-header .inner-header--logo {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-font {

      &.site-header {
        font-size: 4em;
        line-height: 180%;
        margin: auto;
        text-shadow: 2px 2px 2px rgba($primary,0.5);
      }

      &.site-subheader {
        font-size: 1.85em;
        line-height: 100%;
        margin: auto;
        letter-spacing: 0;
        margin-top: -20px;
        padding-bottom: .5rem;
      }
    }
  }

  .inner-header {

    .nav {
      display: flex;
      justify-content: center;

      li {

        a {
          color: $primary;
          font-size: 1em;
        }
      }
    }
  }
}






















