#content.homepage {
  margin-top: 0;

  .home-hero {
    position: relative;

    &:after {
      content: "";
      background: rgba(0,0,0,0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .home-hero-desktop {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 767px) {

    .home-hero-desktop {
      display: block;
    }

    .home-hero-mobile {
      display: none;
    }
  }
}

.home-hero-mobile {

  background-position:  center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
}