$white: #FFF;
$primary: #231F20;
$primary-lite: lighten($primary, 20%);
$primary-liter: lighten($primary, 40%);

$secondary: #ad974f;
$secondary-lite: lighten($secondary, 20%);
$secondary-liter: lighten($secondary, 40%);

$grey: #757575;
$grey-light: lighten($grey, 40%);

$blue: #046BF8;
$orange: #FFA904;


$font-heading-logo: 'Great Vibes', cursive;
$font-headings: 'Playfair Display', serif;
$font-body: 'Playfair Display', serif;


// page transitions
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.js .transition {
    opacity: 0;
}


.loaded .transition {
    
    animation-duration: .25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
}


// settings
body {
  font-size: 18px;
  line-height: 120%;
  font-family: $font-body;
  color: $primary;
  background: #000;
}

a, a:visited { color: $primary; }

a:hover, a:focus, a:visited:hover, a:visited:focus { color: $secondary; }
a:link, a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

p {
  margin-top: 0;
  line-height: 120%;
}

.intro-text p {
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

// pages
#content {
  background: $grey-light;
    margin-top: 0;
}

#inner-content.wrap {
    margin-top: 0;
    border: none;
    width: 100%;

    @media all and (min-width: 768px) { 
      max-width: 1234px;
    }

    .hentry {
      border: 1px solid $grey-light;
      margin: 0;

        header {
            border: none;
        }

        .article-header {
            padding-bottom: 0;
        }
    }
}

@media all and (min-width: 768px) {
    #inner-content.wrap {

        .hentry {
          border: none;
            border-radius: 5px;
            margin: 1.5em 0;
        }
    }
}


.entry-content {

  p {
    line-height: 150%;
  }

    li {
        list-style: disc inside none;
    }

    hr {
        border: none;
        box-shadow: none;
        height: 1px;
        background: $grey-light;
    }
}

// grid templates
.grid-column {
  display: block;
}

@media all and (min-width: 768px) {
  .grid-column-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 2em;
  }

  .grid-column-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .grid-column-no-margin {
    margin-bottom: 0;
  }
}

// contact page
.contact-page {
    
    > div {
        padding: 2em;
    }

    p {
        margin: 1.5em 0 .25em 0;
    }
}


.wpcf7 {
    .wpcf7-form-control-wrap {
        margin-top: .5em;
    }

    .wpcf7-list-item {
        display: block;
        padding: .25em 0;
    }

    .wpcf7-submit {
        @include button-standard;
        display: block;
        max-width: none;
        width: 100%;
        border: none;
        margin: 0;
    }

    input,
    textarea {
        max-width: 100%;
        padding: .5em;
        background: lighten($blue, 40%);

        &:focus {
            background: lighten($blue, 45%);;
        }
    }

    .wpcf7-response-output {
        border-radius: 5px;
        border-color: $primary;
        text-align: center;
        padding: 1em;
        margin-top: .5em;
    }
}
    

footer {

  p {
    margin-top: 1em;
    font-family: $font-headings;
  }
}