$white: #FFF;
$primary: #231F20;
$primary-lite: lighten($primary, 20%);
$primary-liter: lighten($primary, 40%);

$secondary: #ad974f;
$secondary-lite: lighten($secondary, 20%);
$secondary-liter: lighten($secondary, 40%);

$grey: #757575;


$font-heading-logo: 'Great Vibes', cursive;
$font-headings: 'Playfair Display', serif;
$font-body: 'Fauna One', sans-serif;
$font-body: 'Fanwood Text', sans-serif;


// settings
body {
  font-size: 18px;
  line-height: 120%;
  font-family: $font-body;
}

p {
	margin-top: 0;
	line-height: 120%;

    &.intro-text {
        font-size: 1.3em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
}


// pages
#inner-content.wrap {
    margin-top: 2em;
}

.entry-content {

	p {
		line-height: 150%;
	}
}

footer {

	p {
		margin-top: 1em;
		font-family: $font-headings;
	}
}